DB_NAME=shobjiwala
DB_USER=wp
DB_PASSWORD=wp_password
DB_ROOT_PASSWORD=root_password
DB_HOST=db
TABLE_PREFIX=KAW_

WP_HOME=http://localhost:8080
WP_SITEURL=http://localhost:8080
WP_DEBUG=true

HTTP_PORT=8080
PMA_PORT=8081
