.wp-block-embed iframe {
    width: 100%;
    height: 550px;
}
h3#reply-title {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 500;
}
p.comment-notes {
    margin-bottom: 15px;
}
p.comment-form-cookies-consent {
    display: none;
}
p.form-submit {
    display: none;
}
p.logged-in-as a {
    color: var(--color-default);
}
p.logged-in-as {
    margin-bottom: 25px;
}
a#cancel-comment-reply-link {
    color: var(--color-primary);
    margin-left: 15px;
}

.comment-list .comment-respond {
    margin-bottom: 40px;
}
.no-results  form#searchform {
    margin-top: 15px;
}

.no-results .page-header {
    margin-bottom: 10px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}
.tag-list-home h5 {
    margin-bottom: 20px;
}

/* Post */
.tx-post-item.sticky {
    background: var(--color-primary);
    padding: 30px;
}
.entry-content ul {
    margin: 30px 0;
}
.tx-post-item.sticky, 
.tx-post-item.sticky a, 
.tx-post-item.sticky, 
.tx-post-item.sticky a:hover, 
.tx-post-item.sticky, 
.tx-post-item.sticky a, 
.tx-post-item.sticky, 
.tx-post-item.sticky span, 
.tx-post-item.sticky, 
.tx-post-item.sticky a, 
.tx-post-item.sticky, 
.tx-post-item.sticky li, 
.tx-post-item.sticky, 
.tx-post-item.sticky a, 
.tx-post-item.sticky, 
.tx-post-item.sticky p, 
.tx-post-item.sticky .post-title {
    color: #fff;
}
.entry-content .page-links a, .entry-content .page-links span {
    height: 50px;
    width: 50px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
    border: 1px solid var(--color-border);
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.entry-content .page-links span, .entry-content .page-links a:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-color: var(--color-primary);
}
.blog-post-wrap .entry-content table{
	border: 1px solid #EEECEC;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.blog-post-wrap .entry-content table td{
	border: 1px solid #EEECEC;
    padding: 12px 12px;
}
.blog-post-wrap .entry-content table th{
	padding: 12px 12px;
    font-size: 15px;
    border: 1px solid #EEECEC;
    text-align: center;
    font-weight: 600;
}
.blog-post-wrap .entry-content dd, .groser-main-page-wrapper .entry-content dd {
    margin: 0 1rem 1rem;
    font-size: 15px;
    line-height: 26px;
}
.blog-post-wrap .entry-content ul, .groser-main-page-wrapper .entry-content ul {
	margin-top: 20px;
    margin-bottom: 20px;
    list-style: disc;
    padding-left: 20px;
}
.blog-post-wrap .entry-content ul li, .groser-main-page-wrapper .entry-content ul li {
	list-style: disc;
    line-height: 1.8;
    margin-bottom: 15px;
}
.blog-post-wrap .entry-content ul li ul, .groser-main-page-wrapper .entry-content ul li ul {
	margin: 10px 0 0;
    list-style: circle;
}
.blog-post-wrap .entry-content ul li ul li, .groser-main-page-wrapper .entry-content ul li ul li {
	list-style: circle;
}
.blog-post-wrap .entry-content ol, .groser-main-page-wrapper .entry-content ol{
	margin-top: 20px;
    margin-bottom: 20px;
    list-style: auto;
    padding-left: 20px;
}
.blog-post-wrap .entry-content ol li, .groser-main-page-wrapper .entry-content ol li {
	line-height: 1.8;
    margin-bottom: 15px;
}
.blog-post-wrap .entry-content ol li ol, .groser-main-page-wrapper .entry-content ol li ol {
	margin: 10px 0 0;
}

.blog-post-wrap .entry-content pre {
	background: #F5F5F5;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 16px;
    line-height: 1.7142857143;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: auto;
    padding: 30px;
    color: var(--color-black);
    white-space: pre-wrap;
    margin: 20px 0;
}
.entry-content .wp-block-group__inner-container {
    padding: 20px;
    margin-bottom: 15px;
}
.blog-post-wrap .entry-content table th a, .blog-post-wrap .entry-content table td a{
	color: #232638;
}
.post-details p:last-child {
    clear: both;
    overflow: hidden;
}
.post-details h1, 
.post-details h2, 
.post-details h3, 
.post-details h4, 
.post-details h5, 
.post-details h6,
.groser-main-page-wrapper .entry-content h1,
.groser-main-page-wrapper .entry-content h2,
.groser-main-page-wrapper .entry-content h3,
.groser-main-page-wrapper .entry-content h4,
.groser-main-page-wrapper .entry-content h5,
.groser-main-page-wrapper .entry-content h6{
    margin-bottom: 25px;
}
ul.wp-block-archives-list.extraclass.wp-block-archives li a {
    font-size: 16px;
    color: #232638;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wp-block-categories-dropdown.wp-block-categories select {
    width: 100%;
    height: 55px;
    border: 2px solid #f4f4f4;
    border-radius: 0;
    padding: 0 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
p.wp-block-tag-cloud a {
    color: #77787B;
    background-color: #F6F6F6;
    min-height: 36px;
    display: -ms-flexbox;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    padding: 0px 17px;
    margin: 7px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 10px;
    margin-bottom: 4px;
    font-size: 14px !important;
}

p.wp-block-tag-cloud {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.wp-block-categories-dropdown.wp-block-categories {
    margin-bottom: 15px;
}
.wp-block-search__inside-wrapper input {
    width: 100%;
    height: 55px;
    border: 2px solid #f4f4f4;
    border-radius: 0;
    padding: 0 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.wp-block-button {
    margin-bottom: 15px;
}
.wp-block-image {
    clear: both;
    overflow: hidden;
}
.wp-block-search__inside-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
}
.groser-main-page-wrapper p {
    font-size: 15px;
    line-height: 28px;
	margin-bottom: 20px;
}
.wp-block-cover.has-background-dim.alignleft p {
    color: #fff;
}
button.wp-block-search__button {
    background: var(--color-primary);
    color: #fff;
    border: none;
    padding: 0px 30px;
}
.groser-main-page-wrapper .entry-content p:last-child {
    clear: both;
    overflow: hidden;
}

.groser-main-page-wrapper .entry-content p:last-child img {
    margin-top: 10px;
}
.groser-main-page-wrapper .entry-content table {
    border: 1px solid var(--color-border);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
